Package: com.vvvpl.hungryjackshack
Name: Hungry Jack's Hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A hack for the Hungry Jack's App
Maintainer: vvvpl <vvvpl@cock.li>
Author: vvvpl <vvvpl@cock.li>
Depiction: https://vvvpl.github.io/depic/com.vvvpl.hungryjackshack/index.html
Section: Tweaks
Version: 1.2-1+debug
Installed-Size: 11448
