Package: hungryjacks
Name: Hungry Jack's Hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A hack for the Hungry Jack's App
Maintainer: Asish Sharma<asishsharmagk1@gmail.com >
Author: vvvpl <vvvpl@cock.li>
Depiction: https://github.com/Asish606/asish/tree/master/depictions/hungryjacks.deb
Section: Tweaks
Version: 1.2-1+debug
Installed-Size: 11448
